
@main("Welcome to Play 2.1") {

    <div class="splash pure-u-1">
        <div class="pure-g-r">
            <div class="pure-u-1-3">
                <div class="l-box splash-image">
                    <img src="http://placehold.it/500x350" alt="Placeholder image for example.">
                </div>
            </div>

            <div class="pure-u-2-3">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        The time is
                    </h1>

                    <h2 class="splash-subhead" id="time">
                        not known!
                    </h2>

                    <form>
                        <select id="timeZone" name="timeZone">
                            <option value="">Choose</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        (function () {
            function setCurrentTime() {
                $("#time").text(new Date().toISOString());
            }
            function applyTimeZonesTo(f) {
                $.ajax("/timeZones", {
                    accepts: {json: "application/json" },
                    dataType: 'json'
                })
                .done(function (json) {
                    f(json.timeZones);
                });
            }

            function applyTimeTo(tz, f) {
                $.ajax("/current/" + tz + "?token=xxx", {
                    accepts: {json: "application/json" },
                    dataType: 'json'
                    })
                    .done(function (json) {
                        f(json.result);
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        f(textStatus + ', ' + error);
                    });
            }

            $("#timeZone").on('change', function () {
                var tz = $(this).val();
                if (tz) {
                    applyTimeTo(tz, function(time) {
                        $('#time').text(time + " in " + tz);
                    });
                } else {
                    setCurrentTime();
                }
            });

            setCurrentTime();
            applyTimeZonesTo(function(tzones) {
                var tzoneElem = $('#timeZone');
                $.each(tzones, function (i, tz) {
                    tzoneElem.append($("<option></option>")
                                    .attr("value", tz)
                                    .text(tz));
                });
            });
        })();
    </script>

}
